client
dev tun
proto {{ openvpn_proto }}
remote {{ inventory_hostname }} {{ openvpn_port }}
resolv-retry infinite
nobind
persist-key
persist-tun
ca ca.crt
cert client1.crt
key client1.key
cipher AES-256-CBC
comp-lzo
verb 3